Zadatak6.dtd

<!ELEMENT fakultet (student+)>
<!ELEMENT student (osoba,upisi+)>
<!ELEMENT upisi (semestar+)>
<!ELEMENT osoba (ime,prezime,mestoRodjenja,datumRodjenja)>
<!ELEMENT ime (#PCDATA)>
<!ELEMENT prezime (#PCDATA)>
<!ELEMENT mestoRodjenja (#PCDATA)>
<!ELEMENT datumRodjenja (#PCDATA)>

<!ATTLIST student 
status ("studira"|"diplomirao") #REQUIRED
index ID #REQUIRED>

<!ATTLIST semestar 
broj CDATA #REQUIRED
godina CDATA #REQUIRED
vrsta ("budzet"|"saf") #REQUIRED>